@font-face {
    font-family: 'Xolonium';
    src: url('Xolonium.woff2') format('woff2'),
        url('Xolonium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

